
    .login_shift{ 
        margin-left:37%;
    }
    
    .login_button{ 
        margin-left:25%
    }
    
    .singup_box{ 
        margin-top:2%; 
        margin-left:25%
    }

    .signup_form{ 
        margin-right:10%; 
        margin-left: 10%;
    }
    
    .signup_button{ 
        margin-left:23%; 
        padding-left:20%; 
        padding-right:20%; 
    }
    



@media screen and (max-width:480px)
{

    .login_shift{ 
        margin-left:5%; 
        margin-top:5%; 
    }

    .login_button{ 
        margin-left:30%; 
        padding-left:50px; 
        padding-right:50px;
    }

    .singup_box{ 
        margin-top:10%; 
    }

    .signup_form{ 
        margin-right:10%; 
        margin-left: 10%;
    }
    
    .signup_button{ 
        margin-left:20%; 
    }
   
   
}