{% extends 'base.html' %}



{% block content %}    
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://m.media-amazon.com/images/I/61RPA4SLv0L._SX3000_.jpg" class="d-block  w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://m.media-amazon.com/images/I/61Z8j18g29L._SX3000_.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://m.media-amazon.com/images/I/71nUkovUJQL._SX3000_.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    
    
    
    <div class="row mt-3">
        <div class="col">
          {% for element in items %}
          {% for item in element %} 
          {% ifchanged %}
            <div class="fw-bold fs-4">{{item.category}}</div>
           <div class="card-group mt-1">
             {% for item in element %}
             
                <div class="card">
                   <div class="home_image_box"><img src="media/{{item.item_image}}" style="height:100%; width:100%;" alt="{{item.item_name}}"></div>
                  <div class="card-body">
                    <h5 class="card-title">{{item.item_name}}</h5>
                    <p class="card-text"> <div class="home_desc_box">{{item.item_description}}</div></p>
                    <a href="/item/{{item.id}}" class="btn btn-primary">See details</a>
                  </div>
                </div>
            
              {% endfor %}
            </div>
            <a href="/items/{{item.category.id}}" class="text-decoration-none fw-bold text-success nav justify-content-end mt-1">See More &rarr;</a>
            {% endifchanged %}
            {% endfor %}
            {% endfor %}
          </div>
    </div>

  
    {% if messages %}
             
            {% for message in messages %}
              <p id="login_message" data-login_message="{{message}}" ></p>
            {% endfor %}
    {% endif %}

</div>
{% endblock %}