{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
   <h1 class="fw-bold text-success"> Carts List </h1>
   {% if carts %}
   <div class="table-responsive">
   <table class="table table-hover table-responsive{-sm|-md|-lg|-xl|-xxl} mt-5">
    <thead class="table-warning">
       <th>Cart Id</th>
       <th>Item Name</th>
       <th>Customer Name</th>
       <th>Action</th>
       
    </thead>
    {% for cart in carts %}
     <tr>
        <td>{{cart.id}}</td>
        <td>{{cart.item_id.item_name}}</td>
        <td>{{cart.user.first_name}} {{cart.user.last_name}}</td>

        <td>
            <button class="btn btn-danger  mt-2"  data-bs-toggle="modal" data-bs-target="#delete_cart_Modal" onclick="setId('{{cart.id}}')">Remove</button>
        </td>
     </tr>
     {% endfor %}
  </table>
</div>
   {% if is_paginated %}
       <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
             {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
             {% else %}
                <li class="disabled"><a class="page-link" href="#">Previous</a></li>
             {% endif %}
            
            
             {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                   <li class="active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                   <li><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
                
             {% endfor %}

             {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
             {% else %}
                <li class="disabled"><a class="page-link" href="#">Next</a></li>
             {% endif %}
          
    
          </ul>
       </nav>
    {% endif %}
    {% else %}
       <p class="text-danger fs-2 fw-bold text-center mt-5">No record found</p>
    {%endif%}
   </div>
<!-- Delete Modal Form -->
<div class="modal fade" id="delete_cart_Modal" tabindex="-1" aria-labelledby="delete_cart_Modal" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title text-danger fs-3 fw-bold" id="deleteModalLabel">Remove Caart</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
          <form action="#" method="post" id="deletecart_form">
             {% csrf_token %}
             <p class="fw-bold fs-4">Are You sure ?</p>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <button type="submit" class="btn btn-primary">Confirm</button>
      </form>
       </div>
     </div>
   </div>
 </div>

    <!--Messages-->
    {% if messages %}
      {% for message in messages %}
       <p id="delete_cart_message" data-delete_cart_message="{{message}}"></p>
      {% endfor %}
   {% endif %}
{% endblock %}
