{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
   <h1 class="fw-bold text-success"> Items List </h1>
   
   {% if items %}
   <div class="table-responsive">
   <table class="table table-hover table-responsive{-sm|-md|-lg|-xl|-xxl} mt-5">
      <thead class="table-warning">
       <th>Item_id</th>
       <th>Item_image</th>
       <th>Item_name</th>
       <th>Item_price</th>
       <th>Item_category</th>
       <th>Item_Description</th>
       <th>Action</th>
       
    </thead>
    {% for item in items %}
     <tr>
        <td>{{item.id}}</td>
        <td> <div class="image_box"> <img src="/media/{{item.item_image}}" class="shop_item_image"></div></td>
        <td>{{item.item_name}}</td>
        <td>{{item.item_price}}</td>
        <td>{{item.category}}</td>
        <td><div class="descbox">{{item.item_description}}</div></td>
        <td>
            <button class="btn btn-danger  mt-2"  data-bs-toggle="modal" data-bs-target="#delete_item_Modal" onclick="setId('{{item.id}}')">Remove</button>
        </td>
     </tr>
     {% endfor %}
  </table>
</div>
   {% if is_paginated %}
       <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
             {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
             {% else %}
                <li class="disabled"><a class="page-link" href="#">Previous</a></li>
             {% endif %}
            
            
             {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                   <li class="active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                   <li><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
                
             {% endfor %}

             {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
             {% else %}
                <li class="disabled"><a class="page-link" href="#">Next</a></li>
             {% endif %}
          
    
          </ul>
       </nav>
    {% endif %}
 {% else %}
    <p class="text-danger fs-2 fw-bold text-center mt-5">No record found</p>
 {%endif%}
</div>
       <!-- Delete Modal Form -->
       <div class="modal fade" id="delete_item_Modal" tabindex="-1" aria-labelledby="delete_shop_Modal" aria-hidden="true">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title text-danger fs-3 fw-bold" id="deleteModalLabel">Remove Item</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                <form action="#" method="post" id="delete_item_form">
                   {% csrf_token %}
                   <p class="fw-bold fs-4">Are You sure ?</p>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Confirm</button>
            </form>
             </div>
           </div>
         </div>
       </div>

        <!--Messages-->
      {% if messages %}
         {% for message in messages %}
            <p id="admin_item_message" data-admin_item_message="{{message}}"></p>
         {% endfor %}
      {% endif %}

{% endblock %}
