{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
   <h1>Sales Report</h1>


    <div class="sales_report_box">
        
        {% for sales_report in page_obj %}
         <table class="table table-striped table-sm table-bordered">
             <thead>
                 <tr class="border-primary">
                    <th colspan="2" class="text-center fs-3 text-success">
                     Sales Report of {{sales_report.category}}
                    </th>
                </tr>
             </thead>
             <tbody >
            <tr>
                <td>Total sales</td>
                <td>Rs {{sales_report.total_sales}}</td>
            </tr>
             <tr>
                 <td>Total no of item sold</td>
                 <td> {{sales_report.total_quantity_sold}}</td>
             </tr>
             <tr>
                 <th colspan="2" class="text-center text-primary"> Item purchsed maximum</th>
                 
            </tr>
            <tr>   
                <th>Item Name</th>
                <th>Total Quantity purchased</th>
            </tr>
            {% for max_item in sales_report.max_purchased_item %}
            <tr>
                <td>{{max_item.item_id.item_name}}</td>
                <td>{{max_item.quantity}}</td>
            </tr>
            {% endfor %}
            <tr>
                <th colspan="2"  class="text-center text-primary"> item purchsed minimum</th>     
           </tr>
           <tr>   
               <th>Item Name</th>
               <th>Total Quantity purchased</th>
           </tr>
           {% for min_item in sales_report.min_purchased_item %}
            <tr>
                <td>{{min_item.item_id.item_name}}</td>
                <td>{{min_item.quantity}}</td>
            </tr>
            {% endfor %} 
        </tbody> 
    </table>

 <br>
 {% endfor %}
</div> 

{% if is_paginated %}

<nav aria-label="Page navigation" id="order_pagination">
   <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
         <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
      {% else %}
         <li class="disabled"><a class="page-link" href="#">Previous</a></li>
      {% endif %}
     
     
      {% for i in page_obj.paginator.page_range %}
         {% if page_obj.number == i %}
            <li class="active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
         {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
            <li><a class="page-link" href="?page={{i}}">{{i}}</a></li>
         {% endif %}
         
      {% endfor %}

      {% if page_obj.has_next %}
         <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
      {% else %}
         <li class="disabled"><a class="page-link" href="#">Next</a></li>
      {% endif %}
   

   </ul>
</nav>
{% endif %}

</div> 
   

{% endblock %}