{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
   
   <div class="text-success fs-1 fw-bold text-center">Users List</div>
   <div class="table-responsive">
      <table class="table table-hover table-responsive{-sm|-md|-lg|-xl|-xxl} mt-5">
         <thead class="table-warning">
             <th>Fisrt_name</th>
            <th>Last_name</th>
            <th>Username</th>
            <th>Email</th>
            <th class="text-center">Superuser</th>
            <th>Date of Id Creation</th>
            <th>Action</th>
         </thead>
    {% for user in users %}
     <tr>
        <td>{{user.first_name}}</td>
        <td> {{user.last_name}} </td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.is_superuser}}</td>
        <td>{{user.date_joined}}</td>
        <td>
            <button class="btn btn-danger  mt-2"  data-bs-toggle="modal" data-bs-target="#delete_user_Modal" onclick="setId('{{user.id}}')">Remove</button>
        </td>
     </tr>
     {% endfor %}
  </table>
</div>
   {% if is_paginated %}
       <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
             {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
             {% else %}
                <li class="disabled"><a class="page-link" href="#">Previous</a></li>
             {% endif %}
            
            
             {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                   <li class="active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                   <li><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
                
             {% endfor %}

             {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
             {% else %}
                <li class="disabled"><a class="page-link" href="#">Next</a></li>
             {% endif %}
          
    
          </ul>
       </nav>
    {% endif %}

    <!-- Delete Modal Form -->
<div class="modal fade" id="delete_user_Modal" tabindex="-1" aria-labelledby="delete_user_Modal" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title text-danger fs-3 fw-bold" id="deleteModalLabel">Remove User</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
          <form action="#" method="post" id="deleteuser_form">
             {% csrf_token %}
             <p class="fw-bold fs-4">Are You sure ?</p>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <button type="submit" class="btn btn-primary">Confirm</button>
      </form>
       </div>
     </div>
   </div>
 </div>

      <!--Messages-->
      {% if messages %}
         {% for message in messages %}
            <p id="delete_user_message" data-delete_user_message="{{message}}"></p>
         {% endfor %}
      {% endif %}

</div>
{% endblock %}
