
@media screen and (min-width: 480px) {
    
    .list_button{ margin-left:20%; }

    .sales_report_box{ margin:10%; }

    .order_table_header{ color:blue; text-align: center; }

   

}

@media screen and (max-width: 480px) {

    .card_two{ margin-left:8%; }
    
    .list_button{ margin-left:25%; padding-left:10%; padding-right:10%; }
    
    .sales_report_box{ margin-top:10%; }

}